.modal-100h {
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

.particlesBackground {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: white;
}

.linearTransitionUp {
    height: 10vh;
    background: #308DE4 linear-gradient(180deg, rgba(48,141,228,1) 0%, rgba(255,255,255,1) 100%);
}

.linearTransition {
    height: 20vh;
    background: #308DE4 linear-gradient(0deg, rgba(48,141,228,1) 0%, rgba(255,255,255,1) 100%);
}

.footer {
    background: linear-gradient(180deg, rgba(48,141,228,1) 0%, rgba(15,76,134,0.8) 100%);
}