.teachers {
    /*margin-bottom: 3vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wrap {
    margin: 12vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 15rem;
    height: 17rem;
    perspective: 1000px;
}
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    border-radius: 10px;
}
.front {
    background-color: #fff;
}
.back {
    background-color: #BDBDBD;
    transform: rotateY(180deg);
    color: white
}
.card:hover .front {transform: rotateY(180deg);}
.card:hover .back {transform: rotateY(360deg);}

.frontCard{
    border: none;
    border-radius: 10px;
    background-color: #308DE4;
    text-align: center;
    color: white;
}

.backCard{
    background-color: #308DE4;
    font-size: 0.8rem;
}